.header {
    height: 64px;
    background-color: #7c7c7c;
    color: white;

    display: flex;                
    align-items: center;           
    justify-content: space-between;

    padding: 0 1.5rem;
}
